body {
    background-color: black;
    width: 95%;
    margin: auto;
}

.header {
    position: fixed;
    display: flex;
    padding: 10px 0;
    top: 0;
    width: 95%;
    height: 115px;
    justify-content: space-around;
    background: url('./images/starfield-banner.jpg');
    z-index: 99;
}

.header .logo-link {
    padding: 10px;
}

.header .logo {
    width:200px;
    margin:11px;
}

.navigation {
    padding-top: 5px;
}

.navigation ul {
    list-style: none;
    padding: 10px;
}

.navigation ul li {
    display: inline-block;
    position: relative;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.nav-line1 {
    margin-top: 0;
    text-align: right;
    font-size: 18px;
    font-weight: 300;
}

.nav-line2 {
    margin-bottom: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    background-color: #555555;
}

.nav-line1 li::after {
    content: "";
    position: absolute;
    height: 47px;
    bottom: -13px;
    right: -12px;
    border-right: 1px solid #434343;
}

.nav-line2 li::after {
    content: "";
    position: absolute;
    height: 25px;
    right: -12px;
    border-right: 1px solid #6a6a6a;
}

.navigation ul li:last-child::after {
    border-right: none;
}

.search {
    position: relative;
    margin: 11px;
}

.search input {
    height: 20px;
    width: 135px;
    border: none;
    padding: 9px;
    color: #a1a1a1;
    font-weight: lighter;
    background-color: #333333;
}

.search .icon {
    position: absolute;
    top: 4px;
}

.icon-search {
    right: 1px;
    width: 28px;
    height: 28px;
    background-image: url('./images/search.svg');
}

.icon-share {
    width: 28px;
    height: 28px;
    background-image: url('./images/share.svg');
}

.content {
    padding-top: 150px;
}

.content .top {
    display: flex;
    height: 650px;
}

.top-right {
    position: relative;
    width: 50%;
    margin-right: 10px;
    background-image: url('./images/pia21924-16.jpg');
    background-size: cover;
}

.introduction {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.title {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 10px;
    color: #a7a6a6df;
    background-color: #4b5d7b;
}

.text {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 550;
    background-color: rgba(172, 164, 164, 0.7);
}

.top-left {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.climate {
    position: relative;
    margin-right: 10px;
    height: 49%;
    width: calc(50% - 5px);
    background-image: url('./images/mollweide_cycle.jpg');
    background-size: cover;
}

.nasa-event {
    height: 49%;
    width: calc(50% - 5px);
    font-size: 10px;
    color: #cececedf;
    background-color: #4d7197;
}

.event-title {
    margin: 13px;
    margin-bottom: 5px;
    height: 7%;
    border-bottom: 1px solid #cececedf;
}

.event-text {
    margin: 0 10px;
    height: 79%;
    border-bottom: 1px solid #cececedf;
}

.event-footer span {
    padding: 0 20px;
}

.rocket {
    position: relative;
    width: 100%;
    height: 49%;
    margin-top: 10px;
    background-image: url('./images/s69-39961.jpg');
    background-size: cover;
}

.middle,
.bottom {
    display: flex;
    height: 320px;
    width: 100%;
    margin-top: 10px;
}

.day-img {
    position: relative;
    height: 100%;
    width: 25%;
    margin-right: 10px;
    background-image: url('./images/ssc2017-14a1.jpg');
    background-position: center;
}

.day-img .icon,
.juno .icon {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 5px;
    right: 0;
    background-image: url('./images/camera.svg');
    background-size: cover;
}

.asteroids {
    position: relative;
    height: 100%;
    width: 48%;
    margin-right: 10px;
    background-image: url('./images/pia22556-16.gif');
}

.video {
    height: 100%;
    width: 25%;
}

.same {
    position: relative;
    height: 100%;
    width: 24%;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}

.about-nasa {
    background-image: url('./images/nasa_logo.png');
}

.juno {
    background-image: url('./images/io-home.gif');
}

.cassini {
    background-image: url('./images/cassini20170809.jpg');
}

.fermi {
    margin-right: 0;
    background-image: url('./images/fermiicecube_as.jpg');
}

.stories {
    margin: 25px 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    background-color: #194186;
}

.footer {
    height: 150px;
    width: 100%;
}

.nasa-office {
    display: inline-block;
    height: 80px;
    width: 35%;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}

.nasa-office img {
    float: left;
    margin: 5px 5px;
}

.address {
    margin-left: 50px;
}

.detail {
    margin-left: 35%;
    height: 50px;
    font-size: 10px;
    font-weight: 500;
}

.detail a {
    color: #a7a6a6df;
    margin-left: 19px;
}